[Unit]
Description=django kicker service
Requires=kicker.socket
After=network.target

[Service]
PIDFile=/home/chris/run/kicker.pid
User=chris
Group=chris
RuntimeDirectory=daphne
#RuntimeDirectory=uvicorn
WorkingDirectory=/opt/kicker
ExecStart=/home/chris/.virtualenvs/kicker/bin/daphne \
    -u /home/chris/run/kicker.socket \
    kicker.asgi:application
# ExecStart=/home/chris/.virtualenvs/kicker/bin/uvicorn \
#     kicker.asgi:application \
#     --host 0.0.0.0 --port 8020 \
#     --access-log \
#     --log-level info \
#     --workers 4 \
#     --lifespan off
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
