[Unit]
Description=django kicker daemon
Requires=django-kicker.socket
After=network.target

[Service]
PIDFile=/run/django-kicker/pid
User=chris
Group=www-data
RuntimeDirectory=kicker
WorkingDirectory=/var/www/kicker/kicker
ExecStart=/home/chris/.virtualenvs/kicker/bin/uvicorn \
          --access-log \
          --log-level debug \
          --workers 4 \
          --uds /run/django-kicker.socket \
          kicker.asgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
