[Unit]
Description=django kicker service
Requires=kicker.socket
After=network.target

[Service]
PIDFile=/run/kicker.pid
User=chris
Group=www-data
RuntimeDirectory=/var/www/kicker
WorkingDirectory=/var/www/kicker
ExecStart=/home/chris/.virtualenvs/kicker/bin/uvicorn \
          --access-log \
          --log-level debug \
          --workers 4 \
          --uds /run/kicker.socket \
          kicker.asgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
