body {
    --table-width: 1600px;
    --table-height: 800px;
    --goal-height: 250px;
    --ball-radius: 20px;
    --bar-size: 5px;
    --player-size: 40px;
    --banner-height: 40px;
    margin: 0;
    padding: 0;

}

#overlaymsg {
    display: none;
    background-color:red;
    color: white;
    line-height: 1.5em;
    font-size: 48px;
    padding: 0 0.25em;
    margin: 0;
    position: fixed;
    top: 300px;
    left: 0;
    right: 0;
    text-align: center;
    border: 5px solid white;
    border-width: 5px 0;
}

#numbers {
    background: black;
    position: fixed;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    height: var(--banner-height);
    line-height: var(--banner-height);
    color: yellow;
}

#numbers > .score {
    display: inline-block;
    line-height: var(--banner-height);
    background-color: black;
    margin: 0;
    width: 300px;
    text-align: center;
    padding: 0 16px;
}

#numbers > .players {
    display: inline-block;
    line-height: var(--banner-height);
    background-color: black;
    margin: 0;
    padding: 0 16px;
    width: 300px;
}

#numbers > ul.velocity {
    list-style-type: none;
    display: inline-block;
    line-height: var(--banner-height);
    background-color: black;
    margin: 0;
    padding: 0 16px;
    min-width: 300px;
}
#numbers > ul.velocity > li {
    display: inline-block;
}

#numbers > .websocket {
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    position: fixed;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    border: 2px solid black;
    display: inline-block;
    background-color: white;
    transition: background-color 500ms linear;
    color: black;
}

#userbars {
    position: fixed;
    top: calc(50px + var(--table-height) + 10px);
    left: calc(((100vw - var(--table-width)) / 2) + 70px);
    padding: 0;
    margin: 0;
}

#userbars > div {
    display: inline-block;
    background-color: lightgray;
    margin: 0 5px;
    padding: 5px 0;
    width: calc(var(--table-width) / 9.5);
    font-size: large;
    text-align: center;
}

#userbars > div:nth-child(1) {
    left: 10%;
}

#userbars > div:nth-child(2) {
    left: 21%;
}

#userbars > div:nth-child(3) {
    left: 32%;
}

#userbars > div:nth-child(4) {
    left: 43%;
}

#userbars > div:nth-child(5) {
    right: 43%;
}

#userbars > div:nth-child(6) {
    right: 32%;
}

#userbars > div:nth-child(7) {
    right: 21%;
}

#userbars > div:nth-child(8) {
    right: 10%;
}

#table {
    position: fixed;
    top: 50px;
    left: calc((100vw - var(--table-width)) / 2);
    width: var(--table-width);
    height: var(--table-height);
    background-color: green;
    outline: 3px solid black;
    padding: 0;
    margin: 0;
}

#table > .ball {
    position: absolute;
    top: calc(50% - var(--ball-radius));
    left: calc(50% - var(--ball-radius));
    height: calc(2 * var(--ball-radius));
    width: calc(2 * var(--ball-radius));
    border-radius: var(--ball-radius);
    background-color: white;
    border: 1px solid black;
    color: white;
    text-align: center;
    text-shadow: 0 0 2px black;
    font-size: small;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#table > .goal {
    position: absolute;
    top: calc((var(--table-height) - var(--goal-height)) / 2);
    height: var(--goal-height);
    width: 10px;
    background-color: blue;
    outline: 2px solid black;
}

#table > .goal.left {
    left: 0;
}

#table > .goal.right {
    right: 0;
}

#table > .bar {
    position: absolute;
    top: 0;
    height: var(--table-height);
    width: var(--bar-size);
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

#table > .bar.impact {
    background-color: red;
}

#table > .bar.kicking {
    background-color: blue;
}

#table > .bar.keeper.black {
    left: 10%;
}

#table > .bar.keeper.white {
    right: 10%;
}

#table > .bar.defense.black {
    left: 21%;
}

#table > .bar.defense.white {
    right: 21%;
}

#table > .bar.attack.black {
    right: 32%;
}

#table > .bar.attack.white {
    left: 32%;
}

#table > .bar.center.black {
    left: 43%;
}

#table > .bar.center.white {
    right: 43%;
}

#table > .bar > .player {
    position: absolute;
    left: calc(var(--player-size) * (-0.5) + var(--bar-size) * 0.5);
    width: var(--player-size);
    height: var(--player-size);
    border-radius: 50%;
    color: white;
    text-align: center;
    text-shadow: 0 0 2px black;
    margin: 0;
    padding: 0;
    font-size: small;
    display: flex;
    align-items: center;
}

#table > .bar > .player.impact {
    background-color: red !important;
}

#table > .bar.black > .player {
    border: 1px solid yellow;
    background-color: black;
    color: white;
}

#table > .bar.white > .player {
    border: 1px solid black;
    background-color: yellow;
    color: black;
}

#table > .bar.keeper > .p1 {
    top: calc( ( var(--table-height) / 2 ) - var(--player-size) / 2 );
}

#table > .bar.defense > .p1 {
    top: calc( ( var(--table-height) / 3 ) - var(--player-size) / 2 );
}

#table > .bar.defense > .p2 {
    top: calc( ( var(--table-height) / 1.5 ) - var(--player-size) / 2 );
}

#table > .bar.center > .p1 {
    top: calc( 1 * ( var(--table-height) / 6 ) - var(--player-size) / 2 );
}

#table > .bar.center > .p2 {
    top: calc( 2 * ( var(--table-height) / 6 ) - var(--player-size) / 2 );
}

#table > .bar.center > .p3 {
    top: calc( 3 * ( var(--table-height) / 6 ) - var(--player-size) / 2 );
}

#table > .bar.center > .p4 {
    top: calc( 4 * ( var(--table-height) / 6 ) - var(--player-size) / 2 );
}

#table > .bar.center > .p5 {
    top: calc( 5 * ( var(--table-height) / 6 ) - var(--player-size) / 2 );
}

#table > .bar.attack > .p1 {
    top: calc( 1 * ( var(--table-height) / 4 ) - var(--player-size) / 2 );
}

#table > .bar.attack > .p2 {
    top: calc( 2 * ( var(--table-height) / 4 ) - var(--player-size) * 0.5 );
}

#table > .bar.attack > .p3 {
    top: calc( 3 * ( var(--table-height) / 4 ) - var(--player-size) * 0.5 );
}
